In [8]:
import glob
import pandas as pd
import numpy as np
import os
from pandas import Series, DataFrame

# Extract

### Explore Data

To better understand my data I use the glob module to identify the number of csv & json files in the data folder

In [6]:
list_csv = glob.glob('weight_data/*.csv')
list_csv

['weight_data/myFile4.csv',
 'weight_data/myFile3.csv',
 'weight_data/myFile2.csv',
 'weight_data/myFile0.csv',
 'weight_data/myFile1.csv']

In [15]:
list_json = glob.glob('weight_data/*.json')
list_json

['weight_data/myFile4.json',
 'weight_data/myFile2.json',
 'weight_data/myFile3.json',
 'weight_data/myFile0.json',
 'weight_data/myFile1.json']

Once I've identified the number of files, I then appened all files & merged them into one DataFrame

In [39]:
all_dfs = []
for csv_files in glob.glob('weight_data/*.csv'):
    print(f'Loading {csv_files}')
    csv_df = pd.read_csv(csv_files)  
    all_dfs.append(csv_df)
    
for json_files in glob.glob('weight_data/*.json'):
    print(f'Loading {json_files}')
    json_df = pd.read_json(json_files)
    all_dfs.append(json_df)

Loading weight_data/myFile4.csv
Loading weight_data/myFile3.csv
Loading weight_data/myFile2.csv
Loading weight_data/myFile0.csv
Loading weight_data/myFile1.csv
Loading weight_data/myFile4.json
Loading weight_data/myFile2.json
Loading weight_data/myFile3.json
Loading weight_data/myFile0.json
Loading weight_data/myFile1.json

Verify all files have been appended to the all_dfs

In [28]:
len(all_dfs)

10

In [34]:
df = pd.concat(all_dfs)

In [40]:
df.shape

(10000, 4)

In [43]:
df.head()

   first_name last_name  height  weight
0    Sashenka     Tacye      12  103.75
1     Marinna   Eugenia      48  116.73
2     Miquela  Valoniah      46   64.15
3     Celisse    Curren      42   51.11
4  Bernardine   Sothena      13   50.71

# Transform