In [40]:
import glob
import pandas as pd
import numpy as np
import os

In [16]:
list_csv = glob.glob('weight_data/*.csv')
list_csv

['weight_data/myFile4.csv',
 'weight_data/myFile3.csv',
 'weight_data/myFile2.csv',
 'weight_data/myFile0.csv',
 'weight_data/myFile1.csv']

In [18]:
def extract_data_csv(file):
    dataframe = pd.read_csv(file)
    return dataframe

df_csv = extract_data_csv('weight_data/myFile4.csv')
print(df_csv)

    first_name last_name  height  weight
0       Nanete   Swigart      52  166.41
1    Ezmeralda     Maiah      28   66.20
2       Sindee   Maurine      51  113.51
3     Pierette   Germann      78  298.04
4        Ricky     Talia      34   19.52
..         ...       ...     ...     ...
995    Tamqrah    Nisbet      51  120.56
996    Glynnis   Anderea      46  201.10
997     Rosene      Giff      51   61.07
998      Darci    Reneta      69  239.72
999     Alisha     Dosia      75    7.82

[1000 rows x 4 columns]

In [20]:
df_csv.columns

Index(['first_name', 'last_name', 'height', 'weight'], dtype='object')

In [15]:
list_json = glob.glob('weight_data/*.json')
list_json

['weight_data/myFile4.json',
 'weight_data/myFile2.json',
 'weight_data/myFile3.json',
 'weight_data/myFile0.json',
 'weight_data/myFile1.json']

In [19]:
def extract_data_json(file):
    dataframe = pd.read_json(file)
    return dataframe

df_json = extract_data_json('weight_data/myFile4.json')
print(df_json)

    first_name last_name  height  weight
0        Moyna  Dulciana      28  100.96
1       Dorice    Velick      18   66.05
2       Wileen    Merell      71  282.06
3       Karina       Lia      18  155.87
4       Sheree   Fiester      56   51.03
..         ...       ...     ...     ...
995     Adelle    Chobot      71  250.05
996    Dominga    Jacqui      28   83.48
997       Aryn    Darbie      69  301.42
998    Latisha    Wiener      59  332.49
999    Marline     Judye      71  208.40

[1000 rows x 4 columns]

In [39]:
def extract():
    
    # creates dataframe for json & csv files 
    extracted_data = pd.DataFrame(columns=['first_name', 'last_name', 'height', 'weight'])
    
    # processes csv files to add to dataframe
    for csvfiles in glob.glob('*.csv'):
        extracted_data = pd.concat([df_csv, csvfiles], index = False)
        
    # process json files to add to dataframe
    for jsonfiles in glob.glob('*.json'):
        extracted_data = pd.concat([df_json, jsonfiles], index = False)
        
    return extracted_data

In [38]:
print(extract())

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid