# Weight Data Analysis

> During this ETL project, I used Pandas & the glob module to extract csv & json files from a folder. I then performed transformations such as converting the height column from inches to feet as well as used the round function to allow one decimal for all numeric columns. In the final step, I loaded the dataframe into one csv to furhter analysis.

In [23]:
import glob
import pandas as pd
import numpy as np
import os
from pandas import Series, DataFrame

### Extract

> Data Exploration: To better understand my data I use the glob module to identify the number of csv & json files in the data folder

In [24]:
list_csv = glob.glob('weight_data/*.csv')
list_csv

['weight_data/myFile4.csv',
 'weight_data/myFile3.csv',
 'weight_data/myFile2.csv',
 'weight_data/myFile0.csv',
 'weight_data/myFile1.csv']

In [26]:
list_json = glob.glob('weight_data/*.json')
list_json

['weight_data/myFile4.json',
 'weight_data/myFile2.json',
 'weight_data/myFile3.json',
 'weight_data/myFile0.json',
 'weight_data/myFile1.json']

> Once I've identified the number of files, I then appened all files & merged them into one DataFrame

In [27]:
all_dfs = []
for csv_files in glob.glob('weight_data/*.csv'):
    print(f'Loading {csv_files}')
    csv_df = pd.read_csv(csv_files)  
    all_dfs.append(csv_df)
    
for json_files in glob.glob('weight_data/*.json'):
    print(f'Loading {json_files}')
    json_df = pd.read_json(json_files)
    all_dfs.append(json_df)

Loading weight_data/myFile4.csv
Loading weight_data/myFile3.csv
Loading weight_data/myFile2.csv
Loading weight_data/myFile0.csv
Loading weight_data/myFile1.csv
Loading weight_data/myFile4.json
Loading weight_data/myFile2.json
Loading weight_data/myFile3.json
Loading weight_data/myFile0.json
Loading weight_data/myFile1.json

> Verify all files have been appended to the all_dfs

In [28]:
len(all_dfs)

10

In [29]:
df = pd.concat(all_dfs)

In [9]:
df.shape

(10000, 4)

In [30]:
df.head()

  first_name last_name  height  weight
0     Nanete   Swigart      52  166.41
1  Ezmeralda     Maiah      28   66.20
2     Sindee   Maurine      51  113.51
3   Pierette   Germann      78  298.04
4      Ricky     Talia      34   19.52

### Transform

> From viewing the head of the dataframe, Ive decided to convert the height column from inches to feet & round both the height/ weight columns to one decimal.

In [31]:
df['height'] = round(df.height / 12,1)

In [33]:
df['weight'] = round(df.weight, 1)

In [34]:
df.head()

  first_name last_name  height  weight
0     Nanete   Swigart     4.3   166.4
1  Ezmeralda     Maiah     2.3    66.2
2     Sindee   Maurine     4.2   113.5
3   Pierette   Germann     6.5   298.0
4      Ricky     Talia     2.8    19.5

### Load

> Now that all files have been combined & transformed, I will load them all into one single csv for analysis

In [37]:
df.to_csv('weight_data.csv')